#accordion {
  width: 500px;
}

#accordion dt {
  background: #ccc;
  border-bottom: 1px solid #fff;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
}

#accordion dd {
  border: 1px solid #ccc;
  margin: 0;
  padding: 10px;
}